<div class="page-header">
    <div id="bakery-header">
        ABOUT
    </div>
    <div id="friendly-header">
        friendly
    </div>
    
</div>

<div class="intro-box">
    <p><span class="firstcharacter">L</span>orem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quaerat neque facere ipsa, excepturi accusamus aspernatur ex! Consectetur rem, nobis a, sunt quam obcaecati explicabo est ipsa deleniti tempore laboriosam esse sit cum fugit numquam quae velit sapiente ipsum eveniet veritatis vel laborum sed dolor iusto. Dolorum quod ab dolore quisquam commodi itaque! Alias, aperiam nostrum dolorum accusamus, iusto officia architecto tempore possimus numquam doloribus explicabo illo repellat! Neque soluta doloremque, aspernatur, laboriosam tempore officiis ea, animi fuga esse dolore debitis consequuntur eum facilis. Repellat, inventore necessitatibus, ex perspiciatis eveniet animi ab distinctio cum nesciunt reprehenderit doloribus molestiae neque corrupti!</p>
</div>