<div class="page-header">
    <div id="bakery-header">
        CONTACT
    </div>
    <div id="friendly-header">
        friendly
    </div>
</div>

<div class="contact-form">
  <form action="">
    <div>
        <label class="user-name" for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name…">
    </div>

    <div>
        <label class="user-name" for="mail">Email</label>
        <input type="text" id="name" name="mail" placeholder="Email address…">
    </div>

    <div>
        <label class="user-name" for="subject">Message</label>
        <textarea id="name" placeholder="Start typing…" style="height:200px"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
  </form>
</div>
