
        

        <div class="slideshow-and-email">

                <div class="slideshow">
                        <!--hovering over the images will pause the slideshow -->
                        
                                <div class="slideshow-container slide">
                                  <img src="images/baguettes.jpg" alt="Baguettes">
                                  <img src="images/bread.jpg" alt="Bread">
                                  <img src="images/cakes.jpg" alt="Cakes">
                                  <img src="images/cookies.jpg" alt="Cookies">
                                  <img src="images/muffins.jpg" alt="Muffins">
                                </div>
                            
                        
                                </div>

        

        <div class="recipe-email">
            <form action="/recipe-email" method="post">
                <div class="recipe-intro">
                    For ideas and recipes to get you baking like a pro at home, just submit your email below!
                </div>
                <br>
                <div class="user-info" class="light-green accent-4">
                    <label class="user-name" for="name">Name:</label>
                    <input class="fname" type="text" id="name" name="user_name">
                </div>
                <div class="user-info" class="light-green accent-4">
                    <label class="user-name" for="mail">E-mail:</label>
                    <input class="fname" type="email" id="mail" name="user_mail">
                </div>
                <div class="email-button">
                    <button class = "btn waves-effect light-green accent-3" type="submit">Submit</button>
                </div>
            
            </form>

        </div>
        </div>
        
        <div class="intro-box">
                <p><span class="firstcharacter">F</span>riendly Bakery has been serving our New York City neighbors since 2016. We sell at farmer's markets nearly every week of the year. Your trusted source for wholesome, local and seasonal baked goods.</p>
                
            </div>



        